.fancy-header {
    text-align: center;
    color: violet;
    text-decoration: underline;
}
.subtitle {
    text-align: center;
}
html {
    background-color: ivory;
    background-image: url("../img/clouds.avif");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: agbalumo, serif;

}
ol, ul {
    list-style: square;
}
a:link {
    color: red;
}
a:visited {
    color:black;
}
a:hover {
    font-size: 20px;
    color:blue;
}
a:active {
    color:green;
}
table {
    font-size: 25px;
    padding: 20px;
    width: 100%;
}
th, td {
    border: 2px solid red;
    padding: 12px;
    text-align: center;
}
h2 {
    background-color: #333;
    color: white;
}


