#map {
    border-radius: 25px;
    margin: 25px auto;
    border: 3px solid black;
    width: 85%;
    height: 600px;
    padding: 10px;
}

.navbar-brand {
    font-family: "Helvetica", sans-serif;
    font-weight: lighter;
}

.col-sm {
    padding: 10px;
    margin: 20px ;
}

div.row {
    margin-top: 30px
}

.card-body {
     margin: auto;
}
